.contacts-data {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  margin-bottom: 24px;
}

.contacts-data input {
  border: 2px solid #e5e5e5;
}

.contacts-data .contest-form__subtitle {
  display: none;
}

.contacts-data__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet) {
  .contacts-data {
    order: 3;
  }

  .contacts-data .contest-form__subtitle {
    display: block;
    position: absolute;
    top: -22px;
    left: 200px;
    padding: 0 20px;
    background-color: white;
  }

  .contacts-data__item {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: @desktop) {
  .contacts-data {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;
    box-sizing: border-box;
  }
}
