.contest-form__title {
  font-size: 24px;
  font-weight: 300;
  min-height: 237px;
  width: 320px;
  color: white;
  background-image: url(../../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.contest-form__subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.contest-form__field-name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.contest-form__field {
  font-size: 18px;
  color: #283645;
}

.contest-form__button {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #2aab6d;
  border-radius: 0px;
}

.contest-form__note {
  font-size: 14px;
  text-transform: uppercase;
}
