.contacts-data {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  margin-bottom: 24px;
}

.contacts-data input {
  border: 2px solid #e5e5e5;
}

.contacts-data .contest-form__subtitle {
  display: none;
}

.contacts-data__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet) {
  .contacts-data {
    order: 3;
    min-height: 308px;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 24px;
    margin-bottom: 67px;
    box-sizing: border-box;
  }

  .contacts-data .contest-form__subtitle {
    display: block;
    position: absolute;
    top: -22px;
    left: 200px;
    padding: 0 20px;
    background-color: white;
  }

  .contacts-data__item {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }

  .contacts-data__item input {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 6px;
  }

  .contacts-data__item label {
    margin-left: 80px;
  }
}

@media (min-width: @desktop) {
  .contacts-data {
    width: 100%;
    min-height: 160px;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .contacts-data .contest-form__subtitle {
    left: 351px;
  }

  .contacts-data__item {
  }

  .contacts-data__item input {
    width: 375px;
  }

  .contacts-data__item label {
    margin-left: 20px;
  }
}
