.personal-achievements {
  position: relative;
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.personal-achievements::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
  left: ~"calc(-50vw + 50%)";
}

@media (min-width: @tablet) {
  .personal-achievements {
    order: 4;
  }

  .personal-achievements::before {
    background-color: white;
  }
}

@media (min-width: @desktop) {
}
