.personal-achievements input {
  display: none;
}

.personal-achievements {
  position: relative;
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 604px;
}

.personal-achievements .contest-form__subtitle {
  text-align: center;
  margin-bottom: 49px;
  padding: 0 15px;
  margin-top: 38px;
  box-sizing: border-box;
}

.personal-achievements::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
  left: ~"calc(-50vw + 50%)";
}

.personal-achievements label {
  position: relative;
  font-size: 18px;
  margin-bottom: 62px;
  padding-left: 69px;
}

.personal-achievements label:last-child {
  margin-bottom: 0;
}

.personal-achievements label::before {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  top: -10px;
  left: 0;
  border: 2px #e5e5e5 solid;
  background-color: white;
}

.personal-achievements input:checked + label::after {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 20px;
  top: -5px;
  left: 15px;
  border-bottom: 2px solid #d22856;
  border-right: 2px solid #d22856;
  transform: rotate(45deg);
}

@media (min-width: @tablet) {
  .personal-achievements {
    order: 4;
    padding-left: 60px;
    padding-top: 61px;
    min-height: 549px;
    box-sizing: border-box;
    margin-bottom: 68px;
  }

  .personal-achievements .contest-form__subtitle {
    position: absolute;
    top: -48px;
    left: 109px;
    background-color: white;
  }

  .personal-achievements label {
    padding-left: 60px;
  }

  .personal-achievements::after {
    display: none;
  }
}

@media (min-width: @desktop) {
  .personal-achievements {
    min-height: 230px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .personal-achievements .contest-form__subtitle {
    left: 268px;
  }

  .personal-achievements__shark {
    order: 1;
  }

  .personal-achievements__burned {
    order: 4;
  }

  .personal-achievements__chuck {
    order: 2;
  }

  .personal-achievements__souvenirs {
    order: 5;
  }

  .personal-achievements__tower {
    order: 3;
  }

  .personal-achievements__hotel {
    order: 6;
  }
}
