.effect-filters {
  position: relative;
  width: 210px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-left: 33px;
  margin-bottom: 110px;
}

.effect-filters__crop,
.effect-filters__fill,
.effect-filters__contrast {
  font-size: 0;
  border: 0;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
}

.effect-filters__crop {
  background-image: url("../img/icon-editor-crop-active.svg");
}

.effect-filters__fill {
  background-image: url("../img/icon-editor-fill.svg");
}

.effect-filters__contrast {
  background-image: url("../img/icon-editor-contrast.svg");
}

.effect-filters__crop:hover {
  background-image: url("../img/icon-editor-crop-hover.svg");
}

.effect-filters__fill:hover {
  background-image: url("../img/icon-editor-fill-hover.svg");
}

.effect-filters__contrast:hover {
  background-image: url("../img/icon-editor-contrast-hover.svg");
}

@media (min-width: @tablet) {
  .effect-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 289px;
    min-height: 183px;
    margin-bottom: 0;
  }

  .effect-filters__item {
    display: flex;
    align-items: baseline;
  }

  .effect-filters__crop,
  .effect-filters__fill,
  .effect-filters__contrast {
    height: 40px;
  }

  .effect-filters__crop {
    background-image: url("../img/icon-editor-crop-active.svg");
  }

  .effect-filters__fill {
    background-image: url("../img/icon-editor-fill-active.svg");
  }

  .effect-filters__contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
  }

  .effect-filters__crop,
  .effect-filters__fill {
    background-size: 25px;
  }

  .effect-filters__contrast {
    background-size: 17px;
  }

  .upload-photo__pin--set-crop-value {
    right: 43px;
  }

  .upload-photo__pin--set-fill-value {
    left: 23px;
  }

  .upload-photo__pin--set-contrast-value {
    left: 96px;
  }
}

@media (min-width: @desktop) {
  .effect-filters {
    margin-left: 87px;
    width: 425px;
    min-height: 189px;
  }

  .effect-filters__crop,
  .effect-filters__fill {
    height: 50px;
    background-size: 47px;
  }

  .effect-filters__contrast {
    background-size: 33px;
  }

  .effect-filters__crop,
  .effect-filters__fill,
  .effect-filters__contrast {
    background-position: center 0px;
  }

  .upload-photo__pin--set-crop-value {
    left: 72px;
    right: auto;
  }

  .upload-photo__pin--set-fill-value {
    left: auto;
    right: 26px;
  }

  .upload-photo__pin--set-contrast-value {
    left: auto;
    right: 112px;
  }

  .upload-photo__buttons {
    display: flex;
  }
}
