.upload-photo {
  background-color: #f2f2f2;
}

.upload-photo__wrapper {
  .container();
  padding-top: 40px;
  padding-bottom: 40px;
}

.upload-photo__button {
  color: #d22856;
  border: 2px solid #d22856;
}

.upload-photo__button--post {
  margin-bottom: 10px;
}

@media (min-width: @tablet) {
  .upload-photo__wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .upload-photo__wrapper img {
    margin-left: 60px;
  }

  .upload-photo__edit {
    width: 100%;
  }

  .upload-photo__buttons {

  }

  .upload-photo__button {
    height: 55px;
    margin: 0;
  }

  .upload-photo__button--post {
    width: 183px;
    margin-right: 45px;
  }

  .upload-photo__button--cancel {
    width: 180px;
  }
}

@media (min-width: @desktop) {
  .upload-photo__edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
