.upload-photo {
  background-color: #f2f2f2;
}

.upload-photo__wrapper {
  .container();
  padding-top: 40px;
  padding-bottom: 40px;
}

.upload-photo__button {
  height: 55px;
}

.upload-photo__button--post {
  margin-bottom: 10px;
  color: #d22856;
  border: 2px solid #d22856;

  &:hover {
    color: white;
    background-color: #d22856;
  }

  &:active {
    color: #e08195;
  }
}

.upload-photo__button--cancel {
  color: #e3e4e4;
  border: 2px solid #dddfe0;
  background-color: #f2f2f2;

  &:hover {
    color: #283645;
    opacity: 0.3;
    border-color: #b5b9be;
  }

  &:active {
    color: #cdd0d3;
    opacity: 1;
    background-color: #b5b9be;
  }
}

@media (min-width: @tablet) {
  .upload-photo__wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .upload-photo__wrapper img {
    margin-left: 60px;
  }

  .upload-photo__edit {
    width: 100%;
  }

  .upload-photo__button {
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .upload-photo__edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upload-photo__button--post {
    width: 183px;
    margin-right: 45px;
  }

  .upload-photo__button--cancel {
    width: 180px;
  }
}
