.main-nav {
  background-color: #283645;
}

.main-nav.closed {
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__item {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  &:hover a {
    color: #d22856;
  }

  &:active a {
    opacity: 0.3;
  }
}

.main-nav__item a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (min-width: @desktop) {
  .main-nav {
    background-color: rgba(0, 0, 0, 0);
    width: 1200px;
  }

  .main-nav.closed {
    display: block;
  }

  .main-nav__list {
    min-height: 110px;
    width: 622px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    text-transform: none;
  }

  .main-nav__item {
    border: 0;
    cursor: pointer;

    &:hover a {
      color: #d22856;
      border-color: #d22856;
    }

    &:active a {
      color: white;
      border-color: white;
      opacity: 0.3;
    }
  }

  .main-nav__item--active a {
    border-bottom: 2px solid white;
  }

  .main-nav__item a {
    font-weight: 400;
  }
}
