.page-header {

}

.page-header__wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .page-header__wrapper {

  }
}

@media (min-width: @desktop) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    display: flex;
    width: 960px;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
