.page-footer {
  padding-bottom: 40px;
}

.page-footer__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
