.available-devices {
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 90% 46.2%, 50% 0%;
  background-color: #1d2631;
  margin-bottom: 20px;
}

.available-devices__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 667px;
}

.available-devices__title {
  display: none;
}

.available-devices__button {
  width: 275px;
  height: 21px;
  padding: 14px 0;

  &:hover {
    color: #d22856;
    background-color: white;
  }

  &:active {
    color: #f2ced5;
  }
}

.available-devices__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: white;
  margin-bottom: 12px;
}

@media (min-width: @tablet) {
  .available-devices {
    margin-bottom: 25px;
  }

  .available-devices__wrapper {
    min-height: 619px;
    justify-content: flex-start;
  }

  .available-devices__title {
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    color: white;
    width: 200px;
    margin-top: 92px;
    margin-left: 50px;
    margin-right: auto;
  }

  .available-devices__button {
    width: 294px;
    height: 21px;
    margin: 0;
    margin-top: 4px;
    margin-right: auto;
  }

  .available-devices__text {
    font-size: 18px;
    width: 300px;
    margin-right: auto;
  }
}

@media (min-width: @desktop) {
  .available-devices {
    min-height: 742px;
    margin-bottom: 41px;
  }

  .available-devices__title {
    font-size: 50px;
    line-height: 60px;
    width: 250px;
    margin-top: 108px;
    margin-left: 25px;
  }

  .available-devices__button {
    font-size: 21px;
    margin-top: 18px;
  }
}
