.hot-deals {
  background-color: #f2f2f2;
}

.hot-deals table {
  margin: 0 auto;
}

.hot-deals__titles {
  background-color: #283645;
}

.hot-deals__name {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.hot-deals__advantage {
  font-size: 14px;
  font-weight: 400;
}

.hot-deals__thumbs {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hot-deals__thumb {
  margin-right: 5px;
}
